* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    width: 100%;
    height: 100%;
    background-color: white;
}
h1 {
    text-align: center;
    margin: 50px 0 30px 0;
    font-size: 30pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(24, 24, 24);
}
.verificacoes p {
    padding-top: 10px;
    text-align: center;
    font-size: 12pt;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.erro_invalido {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 330px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(223, 0, 0);
}
.cadastro_efetuado {
    display: block;
    margin: 0 auto;
    width: 330px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(0, 231, 0);
}
.formulario {
    display: flex;
    justify-content: center;
}
label {
    font-size: 15pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#fusuario {
    margin-left: 10px;
    height: 20px;
    border: 1px solid rgb(24, 24, 24);
}
#fsenha {
    margin-left: 10px;
    height: 20px;
    border: 1px solid rgb(24, 24, 24);
}
#fentrar {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 80px;
    height: 30px;
    color: white;
    background-color: rgb(255, 67, 67);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}
#fentrar:hover {
    background-color: rgb(255, 25, 25);
}
footer {
    margin-top: 330px;
    width: 100%;
    height: 100px;
    background-color: rgb(24, 24, 24);
}
footer h1 {
    font-size: 25pt;
    color: white;
    text-align: center;
    padding-top: 30px;
}